 
    body {
        font-family: 'Times New Roman', Times, serif;
        background-color: #6dadbf;
        margin: 0;
        padding: 0;
        margin: auto;
    }
    
    header {
        background-color:#f2f2f2;
        color: #fff;
        padding: 20px;
        text-align: center;
        width: auto;
    }
    
    h2 {
        color: #8a8a8a;
     }
     h3 {
    font-size: 30px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
    }
    p{
    margin-top: 3px;
    }
    
    .screen-buttons{
        margin: auto;
    }
    footer {
        background-color:#f2f2f2;
        color: #fff;
        padding: 20px;
        text-align: center;
        margin-top: 50px;
        width: auto;
    }
    .table{
        height: 450px ;
        width: 200px;
        background-color:  #fff;
        float: inline-start;
        margin-top: 50px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-width: 5px;
        border-style:solid;
        border-color:#9d9d9d;
        color: #8a8a8a;
        font-size: 27px;
        text-align: center;
    
    }
    .block{
        height: 1000px;
        width: 450px;
        margin:auto;
       
    }
    
    .table1{
        height: 450px ;
        width: 200px;
        background-color:  #fff;
        float: inline-start;
        margin-left: 30px;
        margin-top: 50px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-width: 5px ;
        border-style:solid;
        border-color:#9d9d9d;
        color: #8a8a8a;
        font-size: 27px;
        text-align: center;
    }
    
    .button-desctop {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(images/responsive-desktop.png);
        background-size: cover;
        cursor: pointer;
        margin: 5px;
        background-color: white;
      }
    
    .button-tablet {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(images/responsive-tablet.png);
        background-size: cover;
        cursor: pointer;
        margin: 5px;
        background-color: white;
      }
      
      .button-phone {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(images/responsive-phone-horizontal.png);
        background-size: cover;
        cursor: pointer;
        margin: 5px;
        transform: rotate(-90deg);
        background-color: white;
      }
    
      .button-phone2 {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(images/responsive-phone-horizontal.png);
        background-size: cover;
        cursor: pointer;
        margin: 5px;
        background-color: white;
      }

      @media (max-width:450px)  {
        .screen-buttons{
            margin: auto;
        }
    
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #6dadbf;
            margin: 0;
            padding: 0;
            font-size: 13px;
            margin: auto;
           
        }
        h3 {
            font-size: 30px;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 0;
            margin-top: 10px;
            }
            p{
            margin-top: 3px;
            }
        header {
            background-color: #f2f2f2;
            color: #fff;
            padding: 20px;
            text-align: center;
            width: auto;
        }
        h2 {
            color: #8a8a8a;
         }
        
        
        footer {
            background-color:#f2f2f2;
            color: #fff;
            padding: 20px;
            text-align: center;
            margin-top: 50px;
            width: auto;
        }
        .table{
            height: 200px ;
            width: 200px;
            background-color:  #fff;
            float: inline-start;
            margin-top: 50px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-width: 5px;
            border-style:solid;
            border-color:#9d9d9d;
            color: #8a8a8a;
            font-size: 15px;
            text-align: center;
            justify-content: center;
            margin-bottom: 50px;
        
        }
        .block{
            height: 1050px;
            width: 200px;
            
           margin: auto;
           
        }
        .table1{
            height: 200px ;
            width: 200px;
            background-color:  #fff;
            float: inline-start;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-width: 5px ;
            border-style:solid;
            border-color:#9d9d9d;
            color: #8a8a8a;
            font-size: 15px;
            text-align: center;
            justify-content: center;
            margin: 0;
        }
        
    }